/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Font Variables */
:root {
  --tg-body-font-family: 'Montserrat', sans-serif;
  --tg-heading-font-family: 'Montserrat', sans-serif;
  --tg-body-font-size: 17px;
  --tg-body-line-height: 1.75;
  --tg-heading-line-height: 1.3;
  --tg-body-color: #6D6C80;
  --tg-heading-color: #161439;
  --tg-theme-primary: #5751E1;
  --tg-theme-secondary: #FFC224;
  --tg-common-color-blue: #050071;
  --tg-common-color-blue-2: #282568;
  --tg-common-color-indigo: #9B51E0;
  --tg-common-color-purple: #8121FB;
  --tg-common-color-pink: #FF429D;
  --tg-common-color-red: #E11B24;
  --tg-common-color-orange: #fd7e14;
  --tg-common-color-yellow: #F8BC24;
  --tg-common-color-yellow-2: #FBE67B;
  --tg-common-color-yellow-3: #FCB428;
  --tg-common-color-green: #12BB6A;
  --tg-common-color-teal: #219653;
  --tg-common-color-cyan: #00AEE5;
  --tg-common-color-white: #fff;
  --tg-common-color-gray: #F7F7F9;
  --tg-common-color-gray-2: #EFEEFE;
  --tg-common-color-gray-3: #7F7E97;
  --tg-common-color-gray-4: #ACAACC;
  --tg-common-color-gray-5: #B2BBCC;
  --tg-common-color-gray-6: #d7d7df;
  --tg-common-color-gray-7: #f6f6f6;
  --tg-common-color-gray-8: #F5F5F4;
  --tg-common-color-gray-9: #F9F9F9;
  --tg-common-color-gray-10: #F8F8F8;
  --tg-common-color-gray-11: #F8F8FC;
  --tg-common-color-dark: #1C1A4A;
  --tg-common-color-black: #06042E;
  --tg-common-color-black-2: #161439;
  --tg-common-color-black-3: #000;
  --tg-border-1: #C9C9DD;
  --tg-border-2: #D0DAE9;
  --tg-border-3: #E2E2E2;
  --tg-border-4: #D7DCE3;
  --tg-border-5: #2F466A;
  --tg-border-6: #dfdfdf;
  --tg-border-7: #E7E7E7;
  --tg-fw-extra-bold: 800;
  --tg-fw-bold: 700;
  --tg-fw-semi-bold: 600;
  --tg-fw-medium: 500;
  --tg-fw-regular: 400;
  --tg-fw-light: 300;
}

/* Base Styles */
body {
  margin: 0;
  font-family: var(--tg-body-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #7aa47033 !important; /* Now works */
}

code {
  font-family: 'Roboto Slab', Sans-serif;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--tg-heading-font-family);
    color: black;
}

p {
  font-size: 16px;
  font-family: 'Roboto Slab', Sans-serif;
  color: black;
}